//<FORM ()>===================================================================================================
.form {
    &__row {
        
    }
    &__column {

    }
    &__line {

    }
    &__input {

    }
    &__button {

    }
    &__error {

    }
}
//</FORM>======================================================================================================

//<BUTTONS (a.btn+tab)>========================================================================================
.btn {
    display: inline-flex;
    padding: 0px 0px;
    @media (min-width: 992px) {
        &:hover {
            
        }
    }
    &._fw {
        width: 100%;
    }
}
//</BUTTONS>===================================================================================================