//<миксины>==============================================================================================
@import "mixins";
//</миксины>=============================================================================================

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>====================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>===================================================================================

//<Иконочные шрифты>=====================================================================================
@import "icons";
//</Иконочные шрифты>====================================================================================

//<Шрифт по умолчанию>===================================================================================
$fontFamily: "Heebo";
//</Шрифт по умолчанию>==================================================================================
//</ШРИФТЫ>===============================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================
$minWidth: 320рх;
$maxWidth: 1920;                        // Максимальная видимость экрана
$maxWidthContainer: 1170;               // Машимальная ширина контейнера
$md1: $maxWidthContainer + 12;          // ПК (брейкпоинт)
$md2: 991.98;                           // Планшет (брейкпоинт)
$md3: 767.98;                           // Большой телефон (брейкпоинт)
$md4: 479.98;                           // Маленький телефон (брейкпоинт)
//</ПЕРЕМЕННЫЕ>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================
@import "null";
body { 
    color: #000;
    font-size: 14px;
    &._lock { 
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================

//<ОБЕРТКА>=============================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {

    }
}
//</ОБЕРТКА>============================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1 + px) { 
        max-width: 970px;
    }
    @media (max-width: $md2 + px) { 
        max-width: 750px;
    }
    @media (max-width: $md3 + px) { 
        max-width: none; 
        padding: 0 10px;
    }
}
//</ОСНОВНАЯ CETKA>===================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===========================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==========================================

//<ОСНОВНОЙ БЛОК>===========================================================================
.page {
    padding: 90рх 0рх 0рх 0рх;
    flex: 1 1 auto;
    @media (max-width: $md3 + px) {
        padding: 30px 0px 0px 0px;
    }
}
//==========================================================================================
//</ОСНОВНОЙ БЛОК>==========================================================================