//<ОСНОВНОЙ БЛОК>======================================================================================
//</ОСНОВНОЙ БЛОК>===================================================================================== 

//<ГОТОВЫЕ КЛАССЫ>=====================================================================================
.row:after {
    display: block;
    content: "";
    clear: both;
}
.rub:after {
    content: "₽";
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================

//=====================================================================================================
%noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//=====================================================================================================
ol.counter { 
    list-style-type: none; 
    counter-reset: item;
    li {
        position: relative;
        padding: 0px 0px 0px 45px;
        &:before {
            counter-increment: item;
            content: counter(item);
            position: absolute;
            left: 0;
            top: 0;
            color: #818181;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            line-height: 26px;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            border: lpx solid #4274bb;
        }
    }
}
//=====================================================================================================
.ellipsis {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.es {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
//=====================================================================================================
.table {
    display: table;
    font-size: 0;
    width: 100%;
    //table-layout: fixed;
}
.trow {
    display: table-row;
}
.cell {
    display: table-cell;
    &.full {
        width: 100%;
    }
}
//=====================================================================================================
._ibg{
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
body.ie {
    ._ibg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    ._ibg img {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}
//=====================================================================================================