<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Описание страницы сайта">
  <meta name="keywords" content="ключевые слова">
  <title>Заголовок</title>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/lib/jquery.js"></link>
  <link rel="stylesheet" href="/css/lib/bootstrap.bundle.js"></link>
  <link rel="stylesheet" href="/css/lib/jquery.magnific-popup.js"></link>
  <link rel="stylesheet" href="/css/lib/swiper-bundle.js"></link>
  <link rel="stylesheet" href="/css/style.css">
  <!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js">
  <![endif]-->
</head>